<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= posts_path %>">Prelog it</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="<%= new_post_path %>">New Post</a>
                </li>
                <li>
                    <a href="<%= new_post_path%>">Games</a>
                </li>
                <li>
                    <a href="post.html">Scores</a>
                </li>
                <li>
                    <a href="post.html">Trending news</a>
                </li>        
                <li>
                    <a href="login">log out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header" style="background-image: url(<%=asset_path 'home-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Arsenal</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
<%=link_to "Update Status", new_post_path%>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <div class="post-preview">
                <% @posts.each do |post| %>     
                    <h2><%= link_to post.title, post  %></h2>
                    <!--<p><%= post.content %></p>-->
                    <p><%= link_to "Edit", edit_post_path(post) %> 
                    <%= link_to "Delete Pos"%> </p>
                <hr/>
                <%end%> <!-- end the loop -->
                </div>
            </div>
        </div>
    </div>



